
.header {
    width: 100%;
    padding: 15px;
    background-color: black;
    color: white;
    position:fixed;
    top: 0;
    left: 0;
    display: inline-flex;
    margin-top: 0px;
    position: fixed;
    z-index: 2;
}

.header h1 {
    font-family:'Courier New', Courier, monospace
    
}
.title {
        width: 190px;
        height: 30px;
        font-size:30px;
        font-weight: bold;
        padding: 0.2em 0.5em;
}
.title a{
    color: white;
    text-decoration: none;
}

.title a:hover {
    text-decoration: none;
}

.search {
    width: 300px;
    display: flex;
}



.footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 40px;
    margin-top: 30px;
    bottom: 0;
    left: 0;
    display: flex;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
}

.page {
    height: 100%;
    min-height: 100vh;
    position: relative;
    margin-top: 150px;
}

.table {
    width: 50%;
    display: flex;
}

.table tr {
    background-color: #fbc25b;
    padding: 10px 20px;
    color: black;
  }
  
table td {
    background-color: #f9ecd5;
    padding: 10px 20px;
    color: black;
  }
  
  

  .page_top {
    background-image: url("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg");
    height: 800px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-left: 0px;
    margin-left: 0px;
    text-align: center;
    vertical-align: middle;
  }
  .search_top {
    padding: 0.5em 1em;
    margin: 00px 500px;
    font-weight: bold;
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    left: 50%;
    position: absolute;
    top: 20%;
    left: 5%;
    position: absolute;
    top: 20%;
  }

.search_top h1 {
    word-break: break-all;
    
}
  .page_bottom {
    
  }

  
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: black;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: black;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: black;
    transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}

.itiran {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.button-group {
    margin-left: 40%;
    display: flex;
}
.button_l {
    width: 40px;
    height: 20px;
    font-size:10px;
    font-weight: bold;
    margin-left: 20px;
    background: white;
    border: dashed 2px white;
    color: white;
    text-decoration: none;
}

.button_ a {
    color: white;
    text-decoration: none;
}